.container {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
